/* Global Styles */
body, h1, h2, h3, h4, h5, h6, p, a, input, button {
  font-family: 'Roboto', sans-serif;
}

/* Navbar Customization */
.navbar {
  background-color: #fff; /* White background for a clean look */
  box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Soft shadow for depth */
}

.navbar-brand img {
  max-height: 50px; /* Adjust logo size */
  margin-left: 0;
}

.form-inline .form-control {
  border-radius: 20px; /* Rounded borders for the search bar */
}

/* Sidebar Styling */
#sidebar-wrapper {
  min-height: 100vh; /* Full height sidebar */
  width: 250px; /* Sidebar width */
  background-color: #f8f9fa; /* Light grey background */
}

.sidebar-heading {
  padding: 0.875rem 1.25rem; /* Sidebar heading padding */
  font-size: 1.2rem; /* Sidebar heading font size */
  font-weight: bold; /* Bold sidebar headings */
}

.list-group-item-action {
  color: #333; /* Dark grey color for list items */
  font-weight: 500; /* Medium font weight for list items */
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: #0056b3; /* Highlight color on hover/focus */
  background-color: #e9ecef; /* Light grey background on hover/focus */
}

/* Content Styling */
#page-content-wrapper {
  width: 100%;
  padding: 20px; /* Padding around page content */
}

.table-responsive {
  background-color: #fff; /* White background for tables */
  box-shadow: 0 0 15px rgba(0,0,0,.05); /* Soft shadow for depth */
  border-radius: 0.25rem; /* Slightly rounded corners for tables */
}

.table-hover tbody tr:hover {
  background-color: #f4f4f4; /* Light grey background on row hover */
}

/* Button Customizations */
.btn-danger {
  color: #fff; /* White text color */
  background-color: #dc3545; /* Bootstrap red */
  border-color: #dc3545; /* Bootstrap red border */
}

.btn-danger:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #bd2130; /* Darker red border on hover */
}

.btn-sm {
  padding: .25rem .5rem; /* Smaller padding for small buttons */
  font-size: .875rem; /* Smaller font size for small buttons */
  border-radius: .2rem; /* Slightly rounded corners for small buttons */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #sidebar-wrapper {
    width: 100px; /* Reduce sidebar width on smaller screens */
  }

  .sidebar-heading, .list-group-item {
    text-align: center; /* Center align sidebar text for small screens */
    font-size: smaller; /* Smaller text size for compact view */
  }

  #page-content-wrapper {
    padding: 10px; /* Smaller padding for page content on small screens */
  }
}